<!DOCTYPE html>
<html>
    <head >
        <meta charset="UTF-8">
        <title>Login de Usuario</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
        <link href="static/css/styles.css" rel="stylesheet">
        <link href="static/css/login.css" rel="stylesheet">
    </head>

    <body class="fuente">

        <header class="cabecera" >

            <section class="busqueda-gral"> 
                <article class="logo-y-lupa"> 
                <div class="logo-ml"><img src="static/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></div>
                <section class="barradebusqueda">
                    
                        <form action="/register" method="POST" class="create-form">
                            <div class="control-form"> 
                                <input class="busqueda" id="buscar" type="text" placeholder="Buscar productos, marcas" ><a href="#" class="lupa"></a><i class="fa-solid fa-magnifying-glass"></i>
                                
                            </div>                                                          
                </form>
                </section>          
                </article>  
            <div class="compra-en-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito</div>
            </section>

            <nav class="listas">

                <ul class="ofertas-tiendas">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="registro-y-login">
                    <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket " id="icon "></i>
                        </a></li>
                    <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping " id="icon "></i>
                        </a></li>
                </ul>

                <div class="burger-menu"><i class="fas fa-bars"></i>
                    </div>
            </nav>

        </header>


    <!-- MAIN-->

        <main>

            <section class="formulario-login"> 

            <form action="/login" method="POST" class="create-form">
                <div class="control-form"> 
                    <label>Nombre del Usuario</label>
                    <input type="text" name="nombreDelUsuario" class="control" placeholder='Por ej: "picklerick123"'>
                </div>

                <div class="control-form"> 
                    <label>Contraseña</label>
                    <div> 
                    <input type="password" name="contraseña" class="control" placeholder="************">
                    <span class="error">La contraseña debe tener al menos 8 caracteres</span>
                    </div>
                </div>


                <button type="submit" class="boton">Enviar</button>
                
    
            </form>

        </section>

        </main>




        <!-- FOOTER-->
        <footer>
            <section> 
               <article>
                   <p class="emoticon-footer"><i class="fa-solid fa-credit-card"></i></p>
                   <h3>Pagá con tarjeta o en efectivo</h3>
                   <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                   </p>
               </article>
               <article>
                   <p class="emoticon-footer"><i class="fa-solid fa-gift"></i></i></p>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </article>
            <article>
               <p class="emoticon-footer"><i class="fa-solid fa-user-shield"></i></p>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
            </article>
           </section>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
           
       </footer>
   </body>
</html>